.addRewards{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.addRewards-rewardsOption, .addRewards-rewards{
    width: 350px;
}
.addRewards ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.addRewards-rewardsOption li:hover{
    cursor: pointer;
}
.addRewards button{
    height: 40px;
    width: 80px;
    font-size: 14pt;
    border-radius: 20px;
    background-color: #7DB343;
    border: none;
}
.addRewards-rewards div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.addRewards-rewards-clear:hover{
    cursor: pointer;
}