
  .middle-dash {
    box-shadow: 1px 1px 20px 1px lightslategrey;
    width: 80vh;
  }

  .left-nav {
    width: 200px;
    height: 800px;
  }
  
  .dashboard {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
  }
  
  .middle-dash-header {
    background-color:white;
  }
  
  .middle-dash-header .upper-header {
    border-bottom: 1px solid gray;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    height: 50px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px 120px 5px;
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
  }
  .middle-dash-header .upper-header h6{
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    color: red;

  }
   .lower-header{
      font-size: 15px;
    font-weight: bold;
    color: #333;
    height: 60px;
    padding-left: 5px;
    display: flex;
    padding: 20px 170px 20px;
  }
  
  .middle-dash-header .aggregates {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 47px;
  }
  
  .aggregate-type {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 12px;
    color: #999;
    width: 40%;
    padding: 20px 0 0em;
  }
  
  .aggregate-type.border {
    border-left: 1px solid green;
    border-right: 1px solid blue;
  }
  .aggregate-type.red h4{
    color:red;
  }
  
  .aggregate-type h4 {
    color: orange;
  }
  
  .aggregate-type.green h4 {
    color: green;
  }
  
  
  .middle-dash-body {
    display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
  }
  

  .friends-index {
    color: #999;
    width: 200px;
  }
  
  .friends-index header {
    display: inline-table;
    background: #f6f6f6;
    color: #ccc;
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
  }

  .friends-index-body-left{
    overflow-y: auto;
    height: 90vh;
  }
   
  .friends-index-item {
    color: black;
    height: 25px;
    font-size: 15px;
    border-left: 0px ridge #fff;
    list-style: none;
  }
  .friends-index-item ul{
    list-style: none;
  }
  
  .friends-index-item:hover {
    transition: 0.35s;
    cursor: pointer;
    box-shadow: 5px 5px 10px #ff652f;
    background-color: aqua;
  }
  
  
  .add-friend:hover {
    color: #5bc5a7;
  }


  .eachfriend {
    color: black;
    font-size: 14px;
    height: 24px;
    cursor: pointer;
    width: 172px;
}
.eachfriend:hover {
    color:black;
}
.ul,li,ol{
  list-style: none;
  font-size: 15px;
}