.main{
    width: 100%;
}

.leaderBoard{
    width: 60%;
    background-color: #ccc;
    padding: 5%;
}

.login{
    background-color: #ccd;
    padding: 2%;
    text-align: center;
}
.login Button,input{
    width: 70%;
    margin-bottom: 2%;
}