.addRewards{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.addRewards-rewardsOption, .addRewards-rewards{
    width: 350px;
}
.addRewards ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.addRewards-rewardsOption li:hover{
    cursor: pointer;
}

.addRewards-rewards div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.addRewards-rewardsOption ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.addRewards-rewardsOption ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}