.leaderBoard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#item1{
    background-color: #EDA028;
}
#item2{
    background-color: #3CC3F8;
}
#item3{
    background-color: #4BD2B2;
}
.leaderBoard-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 50vh;
    line-height: 60px;
    margin: 5px;
    padding: 30px;
    color: white;
    background-color: #66B6B4;
    border-radius: 30px;
    font-size: 16pt;
}
/* .leaderBoard-item-img{
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    width: 50px;
    border-radius: 100px;
} */
.leaderBoard-changeButton button{
    width: 100px;
    margin: 20px 0;
}

